<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="{{ .Site.Author.name | safeHTML }}" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<link rel="alternate" type="application/rss+xml" href='{{ "/index.xml" | absURL }}' />

{{ $title := ( .Title ) }}
{{ $siteTitle := ( .Site.Title ) }}
{{ if .IsHome }}
<title>{{ $siteTitle }}</title>
{{ else }}
<title>{{ $title }} ｜ {{ $siteTitle }}</title>
{{ end }}

{{ if .Keywords }}
{{ $length := len .Keywords | add -1 }}
<meta name="keywords" content="{{ range $index, $element := .Keywords }}{{ $element | safeHTML }}{{ if ne $index $length }}, {{ end }}{{ end }}" />
{{ else if .Site.Params.keywords }}
{{ $length := len .Site.Params.keywords | add -1 }}
<meta name="keywords" content="{{ range $index, $element := .Site.Params.keywords }}{{ $element | safeHTML }}{{ if ne $index $length }}, {{ end }}{{ end }}" />
{{ end }}

<meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.1.0/style.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
<style type="text/css">
  body { 
    font-family: "LXGW WenKai Lite", sans-serif;
    {{ if .IsHome }}font-size:1.3rem;{{ else }}font-size:1.1rem;{{ end }}
	  margin: 0 auto;
	  padding: 30px 30px;
	  max-width: 800px;
  }
</style>
<script async defer data-website-id="8e49d02a-d4bc-4ada-9cea-7035df41c700" src="https://data.shue.io/sumamus.js"></script>