<script src="{{ "js/jquery-3.5.1.min.js" | absURL }}"></script>
<link href="{{ "css/fancybox.min.css" | absURL }}" rel="stylesheet">
<script src="{{ "js/fancybox.min.js" | absURL }}"></script>
<script src="{{ "js/zozo.js" | absURL }}"></script>
<script async defer data-website-id="967c483b-1950-40e9-bc74-277e12f4595f" src="https://sumamus.kaleidoeye.org/sumamus.js"></script>
{{ if or .Params.enableMathJax .Site.Params.enableMathJax }}
{{ partial "mathjax.html" . }}
{{ end }}

{{ template "_internal/google_analytics_async.html" . }}